{% extends 'app/home.html' %} {% load static %} {% block content %}
    <div id="box">
        <div id="content">
          <h1>For the Parents</h1>
          <br />
          <p>
            I'm a paragraph. Click here to add your own text and edit <br />
            me. It’s easy. Just click “Edit Text” or double click me to add <br />
            your own content and make changes to the font. Feel free to <br />
            drag and drop me anywhere you like on your page. I’m <br />
            a great place for you to tell a story and let your users know a <br />
            little more about you. <br /><br />
            This is a great space to write a long text about your <br />
            company and your services. You can use this space to go <br />
            into a little more detail about your company. Talk about your <br />
            team and what services you provide. Tell your visitors the <br />
            story of how you came up with the idea for your business <br />
            and what makes you different from your competitors. Make <br />
            your company stand out and show your visitors who you are.
          </p>
        </div>
        <div id="img"><img src={% static 'app/images/parents.jpg' %} alt="ds"></div>
      </div>
      

      
     {% endblock content %}